@import '../lib/scss/responsive';

.connexion-container {
  background-color: $white-color;
  border: 1px solid $inscription-form-border;
  border-radius: .25rem;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin: 20vh auto 0;
  max-width: 55%;
  min-width: 200px;
  width: auto;

  header {
    background-color: $inscription-form-background;
    font-size: 22px;
    grid-row: 1;
    padding: 5px 0;
    text-align: center;
  }

  .switch {
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    justify-content: center;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    user-select: none;
    width: calc(100% - 2px);
  }

  .inner-switch {
    font-size: .6em;
    height: inherit;
    left: 0;
    letter-spacing: .2em;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: inherit;

    &:first-child {
      background: $switch-button-background-color;
      color: $switch-button-color;
    }

    &:nth-child(2) {
      background: $dodgerblue-color;
      clip-path: inset(0 50% 0 0);
      color: $white-color;
      transition: .3s cubic-bezier(0, 0, 0, 1);
    }
  }

  .toggle {
    box-sizing: border-box;
    display: flex;
    height: inherit;
    position: absolute;
    width: 50%;

    p {
      margin: auto;
    }

    &:nth-child(1) {
      right: 0;
    }
  }

  .save-browser {
    margin: 0 auto;
  }

  .btns {
    border-top: 1px solid $black-color;
    margin-top: 15px;
    padding: 10px 0;
    text-align: center;
  }

  .btn {
    background-color: $button-color;
    border-color: $button-color;
    border-radius: .25rem;
    color: $white-color;
    display: inline-block;
    margin: 0 auto;
    min-height: 29px;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
    user-select: none;
    white-space: nowrap;

    svg {
      vertical-align: middle;
    }

    &:hover {
      background-color: $button-color-hover;
      border-color: $button-color-border-hover;
      cursor: pointer;
    }

    &:focus {
      box-shadow: none;
    }
  }

  @media only screen and (max-width: 930px) {
    .input-group {
      grid-template-columns: repeat(1, 1fr);

      .switch {
        margin: 0;
      }

      .label,
      .switch {
        grid-row: 1;
        margin: 0;
      }

      .inputs,
      .input,
      .radios {
        border-radius: .25rem;
        grid-column: 1;
        grid-row: 2;
      }
    }
  }
}
