.my__header {
    margin-bottom: 50px;
}

.navbar-brand {
    font-size: 30px;
    margin: -20px 0 0;
}

.img_acc {
    width: 100px;
    text-align: center;
    text-decoration: none;
    max-width: 100px;
}

.img_acc img {
    width: 50px;
    height: auto;
}

.centered {
    align-items: center;
}