@import '../../lib/scss/responsive';
@import '../../lib/scss/mixins';

.my--header {
  align-items: center;
  background-color: $header-background-color;
  box-shadow: 0 5px 10px $black-color;
  box-sizing: border-box;
  color: $header-text-color;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  min-width: 319px;
  position: relative;
  text-align: center;
}

.navbar-brand {
  box-shadow: $button-shadow;
  color: $white-color;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  line-height: 2;
  margin-left: 5px;
  padding: 2px 5px;
  text-align: center;
  transition: box-shadow .3s ease-out;

  &:active {
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.div-recherche {
  display: inline-block;
  text-align: center;

  input {
    outline: none;
    width: 100%;
    z-index: 100;
  }

  @media only screen and (max-width: $header-max-width) {
    input {
      display: none;
    }
  }
}

.img-search {
  @include background-img('../../Components/Header/baseline_search_white_48dp_X1.png', $header-search-img-size);

  display: none;
  margin: 0 auto;
  transition: display .3s;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: $header-max-width) {
    box-shadow: $button-shadow;
    display: block;
    transition: box-shadow .3s;

    &:active {
      box-shadow: none;
    }
  }
}

.searching {
  align-self: center;
  bottom: 2%;
  left: 50%;
  position: absolute;
  transform: translateY(105%) translateX(-40%);

  .img-search {
    display: none;
  }

  input {
    display: block;
  }
}

.img-acc {
  box-shadow: $button-shadow;
  display: inline-block;
  margin-right: 5px;
  min-width: 82px;
  padding: 5px;
  text-align: center;
  transition: box-shadow .3s;

  &:hover {
    color: $white-color;
  }

  span {
    transition: color .3s;
  }

  &:active {
    box-shadow: none;
  }
}

.account-img {
  @include background-img('../../Components/Header/img_account.png', $header-account-img);
}
