@import '../../lib/scss/responsive';
@import '../../lib/scss/mixins';

.my--header {
  align-items: center;
  background-color: $header-color;
  box-shadow: 0 5px 20px $black-color;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  @media only screen and (max-width: $header-max-width) {
    height: 100px;
    overflow: hidden;
    padding: 10px;
  }
}

.navbar-brand {
  box-shadow: $button-shadow;
  display: block;
  font-size: 200%;
  font-weight: 700;
  overflow: hidden;
  padding: 10px 20px;
  text-align: center;

  &:active {
    box-shadow: none;
  }

  @media only screen and (max-width: $header-max-width) {
    font-size: 150%;
  }
}

.div-recherche {
  display: block;
  margin-left: -7.5%;
  overflow: hidden;
  text-align: center;
  width: 20%;

  input {
    width: 100%;
  }

  @media only screen and (max-width: $header-max-width) {
    input {
      display: none;
    }
  }
}

.img-search {
  @include background-img('./baseline_search_white_48dp_X1.png', $header-search-img-size);

  display: none;

  &:hover {
    cursor: pointer;
  }

  @media only screen and (max-width: $header-max-width) {
    box-shadow: $button-shadow;
    display: flex;

    &:active {
      box-shadow: none;
    }
  }
}

.searching {
  @media only screen {
    .img-search {
      display: none;
    }

    input {
      display: flex;
      flex: 1;
    }
  }
}

.img-acc {
  box-shadow: $button-shadow;
  box-sizing: unset;
  color: $white-color;
  font-weight: normal;
  max-width: 100px;
  overflow: hidden;
  padding: 5px 20px;
  text-align: center;
  width: 10%;

  &:active {
    box-shadow: none;
  }
}

.account-img {
  @include background-img('./img_account.png', $header-account-img);

  @media only screen and (max-width: $header-max-width) {
    background-size: $header-account-img-small;
    height: $header-account-img-small;
    width: $header-account-img-small;
  }
}
