.form-header {
    text-align: center;
    font-size: 35px;
    background-color: #e9ecef;
    font-weight: bold;
}

.form-group {
    color: black;
    background-color: white;
}

.form-group input:not(:focus):not([type="password"]):valid {
    border-color: #227d41;
}

